# Configuración de variables de entorno para Docker Compose
MYSQL_ROOT_PASSWORD=

# Usuario y contraseña compartidos por ambos servicios Spring Boot
DB_USERNAME=
DB_PASSWORD=

# Nombres de las bases de datos
DB_NAME_VENTAS=
DB_NAME_DESPACHOS=

# ── Docker Hub ────────────────────────────────────────────────────────────
DOCKERHUB_USERNAME=
DOCKERHUB_PASSWORD=